[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RecAssoRules"]
	path = RecAssoRules
	url = https://github.com/cran/RecAssoRules
